* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
}

.logo-name {
    font-size: 3rem;
    font-weight: 800;
}

.header-section {
    display: grid;
    box-shadow: 1px 4px 5px #bebebe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
}

.add-book-button {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    box-shadow: 1px 4px 5px #bebebe;
}

.add-book-button:hover {
    cursor: pointer;
}

.add-book-button:active {
    transform: translateX(5px);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 30px 10px 30px;
    background:#6cf;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

a {
    color: black;
}